*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-cyan-light: hsl(180, 55%, 78%);
  --primary-violet: hsl(257, 27%, 26%);
  --secondary-red: hsl(0, 87%, 67%);
  --neutral-light-gray: hsl(0, 10%, 94%);
  --neutral-gray: hsl(0, 0%, 75%);
  --neutral-gray-violet: hsl(257, 7%, 63%);
  --neutral-dark-blue: hsl(255, 11%, 22%);
  --neutral-dark-violet: hsl(260, 8%, 14%);
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

section {
  padding: 5rem 0;
}

.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
  overflow-x: hidden;
}

.btn {
  background-color: var(--primary-cyan);
  color: #fff;
  padding: 1.5rem 2.5rem;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: var(--primary-cyan-light);
}

.btn-rounded {
  border-radius: 4rem;
}

.btn-rectangle {
  border-radius: 5px;
  padding: 1.5rem;
  margin-top: 1.5rem;
  border: none;
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 6rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .logo {
  display: flex;
}

.hamburger-menu {
  font-size: 2.6rem;
  color: var(--neutral-gray);
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.hamburger-menu .fa-times {
  display: none;
}

.menu-open .hamburger-menu .fa-times {
  display: block;
}

.menu-open .hamburger-menu .fa-bars {
  display: none;
}

.nav-list {
  position: absolute;
  top: 6rem;
  width: 90%;
  background-color: var(--primary-violet);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.menu-open .nav-list {
  opacity: 1;
  transform: scale(1);
}

.nav-item {
  display: block;
  width: 85%;
  text-align: center;
  position: relative;
}

.nav-item:nth-child(3) {
  padding-bottom: 1rem;
}

.nav-item:nth-child(4) {
  padding-top: 2rem;
}

.nav-item:nth-child(4)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--neutral-gray-violet);
}

.nav-link {
  display: block;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.main-img {
  height: 32rem;
}

.main-img img {
  height: 100%;
}

.main-heading {
  margin: 4rem 0 4rem 0;
  text-align: center;
}

.main-heading .title {
  color: var(--neutral-dark-violet);
  line-height: 1.3;
}

.main-heading .text {
  color: var(--neutral-gray-violet);
  margin: 1rem 0 3rem 0;
}

.link {
  position: relative;
}

.link::after {
  content: "";
  top: 14rem;
  position: absolute;
  width: 100%;
  height: 200vh;
  background-color: var(--neutral-light-gray);
  z-index: -1;
}

.main-link {
  background: url("./images/bg-shorten-mobile.svg") right top no-repeat;
  background-size: 75%;
  background-color: var(--primary-violet);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.main-link #input-link {
  padding: 1.5rem;
  border: 3px solid transparent;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.main-link input::placeholder {
  color: var(--neutral-gray-violet);
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  transform: translate3d(0, 2px, 0);
}

.error {
  color: var(--secondary-red);
  display: none;
}

.error.show {
  display: block;
}

.main-link #input-link.show {
  border: 3px solid var(--secondary-red);
}

.main-link #input-link.show::placeholder {
  color: var(--secondary-red);
}

.shorten-link {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  margin: 4rem 0;
  font-size: 1.6rem;
  overflow: hidden;
}

.title-url {
  color: var(--neutral-dark-blue);
  position: relative;
  padding-bottom: 1rem;
  font-weight: normal;
}

.title-url::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--neutral-light-gray);
}

.title-link {
  display: block;
  color: var(--primary-cyan);
  padding-top: 1rem;
  font-weight: normal;
}

.statistics {
  background-color: var(--neutral-light-gray);
}

.statistics-heading {
  text-align: center;
}

.statistics-heading .title {
  color: var(--neutral-dark-violet);
  line-height: 1.3;
}

.statistics-heading .text {
  color: var(--neutral-gray-violet);
  margin: 1rem 0 3rem 0;
}

.statistics-grid {
  position: relative;
  z-index: 5;
}

.statistics-grid::after {
  content: "";
  top: 0;
  left: calc(50% - 0.5rem);
  position: absolute;
  height: 100%;
  width: 1rem;
  background-color: var(--primary-cyan);
  z-index: -1;
}

.grid-item {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 8rem 2rem 4rem 2rem;
  position: relative;
}

.grid-item:not(:last-of-type) {
  margin: 8rem 0;
}

.grid-icon {
  width: 10rem;
  height: 10rem;
  background-color: var(--neutral-dark-blue);
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item h3 {
  color: var(--neutral-dark-violet);
  font-size: 2.4rem;
}

.grid-item p {
  color: var(--neutral-gray-violet);
  font-size: 1.6rem;
  margin-top: 1.5rem;
  line-height: 1.5;
}

.boost {
  background: url("./images/bg-boost-mobile.svg") right top no-repeat;
  background-color: var(--primary-violet);
}

.boost-text {
  text-align: center;
  padding: 3rem 0;
}

.boost h2 {
  color: #fff;
  margin-bottom: 3rem;
}

.footer {
  background-color: hsl(260, 8%, 14%);
}

.footer-content {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.footer-content-brand {
  padding-top: 6rem;
}

.footer-content-brand .logo {
  fill: #fff;
}

.footer-content-list {
  margin: 3rem 0;
}

.footer-content-list h3 {
  margin-bottom: 2rem;
}

.footer-content-list li {
  color: var(--neutral-gray);
  margin: 1rem 0;
  cursor: pointer;
}

.footer-content-list li:hover {
  color: var(--primary-cyan);
}

.social-link {
  font-size: 3rem;
}

.social-link:hover {
  color: var(--primary-cyan);
}

.social-link:not(:last-child) {
  margin-right: 2rem;
}

@media screen and (min-width: 768px) {
  .hero .main-img {
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .nav {
    justify-content: initial;
    width: 100%;
  }
  .nav .logo {
    margin-right: 2rem;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-list {
    position: initial;
    width: initial;
    width: 100%;
    background-color: transparent;
    flex-direction: row;
    opacity: 1;
    transform: scale(1);
  }
  .nav-item:nth-of-type(3) {
    padding-bottom: 0;
  }
  .nav-item:nth-of-type(4) {
    padding-top: 0;
    margin-left: 25rem;
  }
  .nav-item:nth-of-type(4)::after {
    display: none;
  }
  .nav-item:nth-of-type(5) {
    padding-top: 0;
  }
  .nav-item .btn-rounded {
    color: #fff;
  }
  .nav-link {
    color: var(--neutral-gray);
  }

  .hero .container {
    display: flex;
    align-items: center;
    overflow-x: visible;
  }
  .main-img {
    flex: 0 0 50%;
    order: 1;
    height: initial;
  }

  .main-heading {
    flex: 0 0 50%;
    text-align: left;
  }

  .main-heading .title {
    font-size: 6rem;
  }

  .main-heading .text {
    width: 70%;
  }

  .link::after {
    top: 12rem;
  }
  .main-link {
    flex-direction: row;
    background: url("./images/bg-shorten-desktop.svg") right top no-repeat;
    background-size: 100%;
    background-color: var(--primary-violet);
    padding: 3.3rem 3rem;
    position: relative;
  }
  .main-link #input-link {
    margin-bottom: 0;
    margin-right: 2rem;
    flex-basis: 75%;
  }
  .main-link .btn-rectangle {
    margin-top: 0rem;
    flex: 1;
  }
  .error {
    content: "";
    position: absolute;
    bottom: 0.5rem;
  }
  .shorten-link {
    display: flex;
    align-items: center;
  }
  .title-url {
    padding-bottom: 0;
    flex: 1;
  }
  .title-url::after {
    display: none;
  }
  .title-link {
    padding-top: 0;
    flex: 1;
    text-align: right;
  }
  .shorten-link .btn-rectangle {
    margin-top: 0;
    margin-left: 1rem;
    flex-basis: 5rem;
    font-size: 1.6rem;
  }

  .statistics {
    padding-bottom: 10rem;
  }
  .statistics .container {
    overflow: hidden;
  }
  .statistics-heading {
    width: 50%;
    margin: 0 auto;
  }
  .statistics-heading .title {
    font-size: 4rem;
  }
  .statistics-grid {
    display: flex;
  }
  .statistics-grid::after {
    content: "";
    top: calc(50% - 0.5rem);
    left: 0;
    position: absolute;
    height: 1rem;
    width: 100%;
    background-color: var(--primary-cyan);
    z-index: -1;
  }
  .grid-item {
    text-align: left;
  }
  .grid-item:not(:last-of-type) {
    margin-right: 4rem;
  }
  .grid-item:nth-of-type(2) {
    transform: translateY(4rem);
  }
  .grid-item:nth-of-type(3) {
    margin-top: 8rem;
    margin-bottom: 8rem;
    transform: translateY(8rem);
  }
  .grid-icon {
    left: 25%;
  }

  .boost {
    background: url("./images/bg-boost-desktop.svg") right no-repeat;
    background-color: var(--primary-violet);
  }
  .boost-text {
    padding: 1.8rem 0;
  }
  .boost h2 {
    font-size: 4rem;
  }

  .footer {
    padding: 8rem 0;
  }
  .footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer-content-brand {
    flex: 1;
    display: flex;
    padding: 0;
    width: 100%;
  }
  .footer-content-brand a {
    margin-right: auto;
  }
  .footer-content-list {
    margin: 0 3rem;
    text-align: left;
  }
  .social-media-wrap {
    margin-left: 8rem;
  }
}

@media screen and (min-width: 1200px) {
  .nav-item:nth-of-type(4) {
    padding-top: 0;
    margin-left: 40rem;
  }

  .main-img {
    flex: 0 0 45%;
  }

  .main-heading {
    flex: 0 0 55%;
    margin-right: 5rem;
  }

  .statistics-heading {
    width: 40%;
  }

  .footer-content-list h3 {	.nav .logo {
    margin-bottom: 2rem;	  display: flex;
  }

